<div class="title-box">
  <h1>나의 하루</h1>
  <h2>10월 28일</h2>
</div>
<div class="todo-container">
  <div class="todo">
    <input type="checkbox" class="checkbox" name="" id="todo-1" checked>
    <label for="todo-1">숨시기</label>
  </div>
  <div class="todo">
    <input type="checkbox" class="checkbox" name="" id="todo-2">
    <label for="todo-2">일하기</label>
  </div>
  <div class="todo">
    <input type="checkbox" class="checkbox" name="" id="todo-3" checked>
    <label for="todo-3">놀기</label>
  </div>
</div>
<div class="add-todo">
  <button>+</button>
  <input type="text" placeholder="할 일 추가">
</div>